<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Momepage</title>
</head>
<body>
    <h1>
        <a href="{% url 'index' %}">
            <img class="headerLogo" src="{% static 'img/header-logo.png' %}" alt="Momepage">
        </a>
    </h1>
    <nav class="day-navigation">
        <a href="{% url 'yesterday' %}">yesterday</a>
        <a href="{% url 'today' %}">today</a>
        <a href="{% url 'tomorrow' %}">tomorrow</a>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>