{% extends "base.html" %}

{% block content %}
    <div class="index">
        <div class="today-header">
            <h2 class="today-header-number">
                Day {{ today.number }}
            </h2>
            <h2 class="today-week-and-day-numbers">
                Week {{ today.week_number }} - Day {{ today.week_day_number }}
            </h2>
            <h2 class="today-header-date">
                {{ today.date }}
            </h2>
        </div>
        <div class="today-agenda">
            <div class="today-description">
                {{ today.description }}
            </div>
            <div class="agenda-item-container">
                <h3>Agenda:</h3>
                {% for agenda_item in today.agendaitem_set.all %}
                    <div class="agenda-item">
                        {{ agenda_item.description }}
                    </div>
                {% endfor %}
            </div>
            <div class="guest-lecture-container">
                <h3>Guest Lectures:</h3>
                {% for guest_lecture in today.guestlecture_set.all %}
                    <div class="guest-lecture">
                        {{ guest_lecture.start_time }} - {{ guest_lecture.end_time }}:
                        <br>
                        {{ guest_lecture }}
                    </div>
                {% endfor %}
            </div>
            <div class="field-trip-container">
                <h3>Field Trips:</h3>
                {% for field_trip in today.fieldtrip_set.all %}
                    <div class="field-trip">
                        {{ field_trip.start_time }} - {{ field_trip.end_time }}:
                        <br>
                        {{ field_trip }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}