<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Momepage</title>
</head>
<body>
    <h1>Momepage</h1>
    <nav>
        {% comment %}<a href="{% url 'yesterday' %}">yesterday</a>{% endcomment %}
        <a href="{% url 'index' %}">today</a>
        {% comment %}<a href="{% url 'tomorrow' %}">tomorrow</a>{% endcomment %}
    </nav>
    {% block content %}

    {% endblock %}
</body>
</html>