* {
	box-sizing: border-box;
	margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

h1, h2 {
    text-align: center;
}

body {
    background-color: #BBC2E2;
}

.headerLogo {
    width: 25%;
    max-width: 85%;
    margin: 2rem 0 2rem 0;
}

.day-navigation {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr;
    justify-items: center;

    margin-bottom: 2rem;
}

.index {
    text-align: center;
}

.today-header {
    font-size: 2rem;
}

.today-header {
    margin-bottom: 2rem;
}

.today-description {
    margin-bottom: 2rem;
}
.agenda-item-container {
    margin-t
}